* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

:root {
    --title-color: #0B0223;
    --primary-color: #FF42A5;
    --secondary-color: #534C64;
    --linear-first-color: #F948B2;
    --linear-second-color: #8758F1;
    --bg-color: #E6E6E9;
}

.title-color {
    background: linear-gradient(to bottom, var(--linear-first-color), var(--linear-second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.semi-title {
    font-size: 30px;
}

.primary-text {
    color: var(--secondary-color);
    margin: 15px 0px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    margin: 20px 0px;
}

/* ************ Nav */
nav {
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title h1 {
    font-weight: 700;
    font-size: 35px;
    color: var(--title-color);
    margin-left: 10px;
}

.nav-title h1 span {
    color: var(--primary-color);
}

.nav-social-icon img {
    width: 30px;
    margin-left: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;

}

nav ul li a {
    text-decoration: none;
    margin-right: 25px;
    color: var(--secondary-color);
    font-weight: 700;
}

.nav-social-icon {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    background-color: var(--bg-color);
    border-radius: 8px;
}

/* *************Banner**************** */
.banner-container {
    background-image: url("../images/Group\ 14.png");
}

.banner {
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-image {
    text-align: right;
}

.banner-image img {
    width: 80%;
}

.banner-content h2 {
    color: var(--title-color);
    font-weight: 700;
    font-size: 35px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 15px 0px;
}

.banner-content p {
    color: var(--secondary-color);
    margin-top: 5px;
}

.btn-one {
    background-color: var(--primary-color);
}

.banner-content .btn-two {
    background-color: #4ec5f7;
}

.banner-content p img {
    width: 16px;
}

/* we-are-gamer */

.we-are-gamer-container {
    background-color: #fff9fc;
}

.we-are-gamer {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    padding: 50px;
}

.gamer-image {
    width: 60%;
}

.gamer-image img {
    width: 100%;
}

.gamer-content {
    width: 40%;
}

.gamer-content {
    text-align: right;
}

/* ***************funny-video-image ********* */
.funny-video-container {
    max-width: 1320px;
    margin: 50px auto;

}

.funny-video-content {
    text-align: center;
    margin-bottom: 50px;
}

.funny-video-image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.funny-video-image .card {
    width: 350px;
    height: 500px;
}

.funny-video-image .card img {
    width: 100%;
}

#funny-video-play {}

.video-logo {
    position: relative;
}

.card:hover .video-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 409px;
    background-image: url('../icons/play.png');
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #534C64;
    opacity: .8;
    background-blend-mode: screen;
    border-radius: 15px;
}

/* play-instant-container */
.play-instant-container{
    max-width: 1320px;
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -200px;
}
.play-instant-content{
    margin: 0px 150px;
}
.main-image{
    width: 100%;
}
.sub-image{
    position: relative;
    width: 50%;
    bottom: 250px;
    right: 100px;
}

/* Careers */
.careers-container{
    background-image: url("../images/Group\ 14.png");
    background-color: var(--linear-first-color);
}
.careers{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.careers-list{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.careers-p{
    margin: 30px 0px;
}
.careers-list p{
    font-weight: 700;
}
.careers-content button{
    background-color: white;
    color:#F948B2
}
.careers-content , .careers-image{
    width: 100%;
}
.careers-image img{
    width: 100%;
}
/* *************** Action button list */
.button-container-parents{
    background-color: #fff9fc;
    padding: 30px 0px;
}
.button-container{
    max-width: 1320px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
}
.action-button:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}
.action-button img{
    width: 30%;
}
.action-button p{
    font-weight: 700;
    margin-left: 5px;
}
/* Footer */
footer{
    background-color: #0b0223;
    color: white;
    padding: 50px 0px;
}
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.footer-title span{
    color: var(--primary-color);
    margin-left: 15px;
}
.footer-icons img{
    width: 40px;
    margin: 30px 5px;

}
.footer-details{
    margin: 0px auto;
    text-align: center;
}
.footer-details div{
    margin: 15px 0px;
}
.footer-details span{
    margin-left: 20px;
}
.owner{
    color: var(--primary-color);
}
/* ************** responsive design***** */
@media screen and (max-width:576px) {

    nav,
    nav ul,
    .we-are-gamer,
    .play-instant-container ,
    .careers{
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    nav ul li,
    .nav-social-icon {
        margin-top: 15px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-image img,
    .gamer-image,
    .gamer-content, .play-instant-content,
    .careers {
        width: 100%;
        padding: 15px;
    }

    .banner-container {
        background-position: bottom;
        background-size: cover;
    }

    .gamer-content, .play-instant-content{
        text-align: center;
    }

    .banner {
        padding: 15px 25px;
    }
    .play-instant-images{
        margin: 0px 80px;
    }
    .careers-container{
        margin-top: 70px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {

    nav,
    .banner {
        margin: 0px 25px;
    }

    .we-are-gamer, .play-instant-container ,.careers {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .gamer-image,
    .gamer-content,
    .careers-image img {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .play-instant-images, .careers {
        margin: 0px 80px;
    }

}

@media screen and (min-width:769px) and (max-width:1320px) {

    nav,
    .banner,.play-instant-container ,.careers{
        margin: 0px 25px;
    }

    .banner {
        padding: 15px 25px;
    }
}